<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>About Us</title>
	<style>
	body { 
     background: url('hotel.jpg') no-repeat center center fixed;    
     background-size:cover;
  }
  </style>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Home">The Hotel Libertà</a>
        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="container">

      <div class="starter-template">
        <h1>About Us</h1>
        <p class="lead">The Hotel Libertà is a brand new, too good to be real hotel that everyone wants in on. It was built on April 21, 20XX. Funny story actually, when the architect Ted Mosby received the blueprints, the first thing he said was "What the f*** is this s***?" Ever since construction started, passers-by have stared in awe of our ridiculously cool shape of our hotel. It all went uphill from there. Stay in school, kids, and stay away from weed.</p>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>