<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Welcome!</title>
	<style>
	body { 
     background: url('hotel.jpg') no-repeat center center fixed;    
     background-size:cover;
  }
  </style>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Home">The Hotel Libertà</a>
        </div>
        
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Welcome to the Hotel Libertà</h1>
        <p>The Hotel Libertà is a brand new, too good to be real hotel that everyone wants in on. You will not believe the stuff we have here. </p>
        <p><a href="AboutUs" class="btn btn-primary btn-lg" role="button">Read more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Check out the Rooms</h2>
          <p>Our room are simply RIDICULOUS, in the most awesome way impossible. </p>
          <p><a href="ListofRooms" class="btn btn-default" role="button">Check 'em out! &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Come on over!</h2>
          <p>Your stay with us will be both magical and unforgettable. </p>
          <p><a class="btn btn-default" href="Reserve" role="button">Reserve now! &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Sue us</h2>
          <p>Have any complaints? Please don't hesitate to approach our human resources.</p>
          <p><a class="btn btn-default" href="SueUs" role="button">See Human Resources &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</body>
</html>