<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>The Rooms</title>
	<style>
	body { 
     background: url('hotel.jpg') no-repeat center center fixed;    
     background-size:cover;
  }
  </style>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="starter-template.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="Home">The Hotel Libertà</a>
        </div>
      </div>
    </div>
<br>
<br>
<br>
    <div class="container">

      <div class="starter-template">
        <h1>List of rooms</h1>
        <p class="lead">Regular. For all dem bachelors and bachelorettes out there who seek a comfortable night without the pressure from external sources about when they plan on settling.</p>
        <img src="Regular Room.jpg">
        <br>
		<p class="lead">Double. For couples who wish to enjoy the night alone. Not recommended for travelling "best friends".</p>
    <img src="Double Room.jpg">
    <br>
		<p class="lead">Family. Families who want a relaxing night after all the ridiculously large expenditures, majority of which come from spending on rides for their children's fleeting happiness will find sanctuary here. Not recommended for couples bringing along a friend. Seriously folks, have pity on the poor fella.</p>
    <img src="Family Room.jpg">
    <br>
		<p class="lead">Party. YEAAHHH.</p>
    <img src="Party Room.jpg">
    <br>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
